@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
